/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.landing-image {
  display: block; /* elimina espaçamento inline */
  width: 100vw; /* ocupa 100% da largura da viewport */
  height: auto; /* mantém proporção */
  object-fit: cover; /* garante que preencha horizontalmente */
}
